body {

}
.navbar-collapse {
  float: right;
}

.container-fluid {
    background-color: #FFF;
}

.navbar {
  border: none;
}


@media (max-width: 768px) {}
  .col-bkg {
    background-color: blue;
  }
  .jumbotron {
    padding-left: 62px;
    padding-right: 62px;
  }
}
